--extra-index-url https://download.pytorch.org/whl/cpu
-f https://data.pyg.org/whl/torch-2.2.0+cpu.html
torch==2.2.2
torch-scatter
torch-sparse
torch-geometric==2.5.2
huggingface_hub>=0.22.0
numpy>=1.24.0
scipy>=1.11.0
scikit-learn>=1.4.0
plotly>=5.20.0
pillow>=10.0.0
pandas>=2.0.0
